  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css"/>
  <% } %>
</head>
<body>
  <nav>
    <div id="coffee-logo-div">
      <a href="/">
        <img class="coffee-logo" src="/images/photos/coffee.png" alt="">
      </a>
    </div>
    <div class="center-nav-div">
      <% if (user) { %> 
        <div>
          <h1 class="main-nav-h1">Cassandra's Coffee Cafe</h1>
        </div>
        <div class="nav-btns">
          
          <a href="/profiles/<%= user.profile._id %>">
            <button class="in-line btn btn-secondary">My Favorite Drinks</button>
          </a>
        </div>  
      <% } %>
    </div>
    <div id="avatar-div">
      <% if (user?.profile.avatar) { %>
        <div>
          <img class="profile-img"
            src="<%= user.profile.avatar %>" 
            alt="<%= user.profile.name %> avatar"
          >
        </div>
      <% } %>
      <% if (user) { %>
          <a href="/auth/logout">
            <button class="btn btn-secondary" id="logout-btn" type="submit">Logout</button>
          </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>
    </div>
  </nav>
