<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />

<main class="main-main">
  <div class="main-landing-div">
    <%- include('./partials/nav') %>
    <div class="content">
      <img class="coffee-image" src="/images/photos/nathan-dumlao-coffee-photo.jpg" alt="coffee image">
      <div id="order-div">
        <a href="/drinks/new">
          <button class="btn btn-light" id="order">Order Custom Drink</button>
        </a>
      </div>
    </div>
  </div>

</main> 

<%- include('./partials/footer') %>
