html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%;
    --cursive: 'Amatic SC', cursive;
    --sans-serif: 'Heebo', sans-serif;
}

body {
  background-image: url(/images/photos/karsten-winegeart-l24eJZ9cIQk-unsplash.jpg);
  /* Use a system font, if none are available use an available sans-sarif font */
  color: rgb(0, 20, 20);
  font-family: var(--sans-serif);
  margin: 0;
  font-size: 2rem;
}

h1 {
  font-family: var(--cursive);
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  text-align: center;
  margin: 5px;
}

nav {
  background: #ffffff;
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: rgb(35, 50, 54, .5) 2px solid;
}
.nav-btn{
  margin: 0 5px 5px 5px;
}

.center-nav-div{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  text-align: center;
}

.nav-btns {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

#avatar-div{
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-family: var(--cursive);
  font-size: 30px;
}

.card-text {
  font-size: 2rem;
}

#logout-btn{
  padding: 1px 4px;
}

.coffee-logo {
  width: 75px;
  height: 75px;
  margin: 1% 0 1% 0;
}

.heart-img {
  width:30px;
  height:30px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-of-page {
  margin-top: 40px;
  font-size: 6rem;
  text-align: center;
}



#drink-rem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dr {
  margin: 20px;
}

.rem-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.edit {
  font-size: 8rem;
}

.edit-size {
  font-size: 4rem;
  margin: 5px;
}

.mem-card {
  border-radius: 10px;
  width: 30%;
  margin: 20px;
  min-width: 300px;
}

.mb-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-btn {
  margin-top: 10px;
}

#drink-form {
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 470px;
  min-width: 270px;
}

.main-nav-h1 {
  font-size: 40px;
  text-align: center;
  margin: 0px 50px;
  
}

.prof-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prof-card {
  border-radius: 10px;
  width: 20%;
  margin: 20px;
  min-width: 300px;
}

.main-main {
  height: 100%
}

.main-landing-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 80px;
  background:rgba(185, 158, 123, 0.8)
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-image {
  max-width: 55%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-light {
  border: solid 4px teal;
  margin-bottom: 30px;
}